.search-room {
  background-image: url("../images/backgroundInside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-room__top {
  border-radius: 11px;
  background: rgba(30, 30, 30, 0.46);
  width: 100%;
  padding: 11px 25px 5px 25px;
}

.search-room__input-block {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  border-bottom: 3px solid rgba(229, 12, 12, 0.53);
  padding-bottom: 8px;
}

.search-room__input-block input {
  border: none;
  background: none;
  outline: none;
  color: white;
}

.search-room_main_list {
  column-gap: 139.3999px;
  row-gap: 12px;

  border-radius: 12px;
  border: 1px solid #000;
  background: rgba(146, 59, 59, 0.8);
  padding: 26px 23px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-room_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-bottom: 3px solid rgba(229, 12, 12, 0.53);
  padding-bottom: 2px;
}

.search-room_item h1 {
  font-size: 15.9px;
  color: white;
  font-weight: 400;
}

.search-room_item .info {
  display: flex;
  align-items: center;
  gap: 5px;
}
